<html>
<center>
<header>
<title> Planet Tracker</title>
</header>
<body>
<h1>This is the tracking system for planets</h1>
<p>
This system will be used by any major planetary observatory <br>
system overlooking the stars in the universe
</p>

</body>
</center>
</html>

